body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
}

table {
  font-size: 18px;
}

a {
  color: #00B7FF;
}

/* Style for table header border */
th {
  border-bottom: 3px solid goldenrod;
  background-color: white;
}

/* Style for alternating row colors */
tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #e8e7e7 ;
}

/* Blue-green color for the hyperlink titles */
.title-link {
  color: #009874;
  text-decoration: none;
}
